@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-circular-gradient {
    background-color: #8651FF;
    background-image: url("./images/index.svg");
    background-attachment: fixed;
    background-size: cover;
}


@font-face {
    font-family: "urbane";
    src: url("./images/urbane.ttf");
}

@font-face {
    font-family: "urbane-light";
    src: url("./images/urbane-light.ttf");
}